.homePage {
    display: flex;
    flex-direction: column;
}

.hero {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
    text-align: center;
}

.heroTitle {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
}

.heroSubtitle {
    font-size: 1.25rem;
    max-width: 600px;
}

.heroButton {
    padding: var(--space-md) var(--space-xl);
    border: 1px solid var(--color-black);
    background-color: var(--color-black);
    color: var(--color-white);
    text-decoration: none;
}

.productsSection {
    padding: var(--space-2xl) 0;
}

.sectionTitle {
    margin-bottom: var(--space-xl);

    font-size: 2rem;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-xl);
}

.productLink {
    color: inherit;
    text-decoration: none;
}


@media (max-width: 900px) {
    .productsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .productsGrid {
        grid-template-columns: 1fr;
    }

    .heroTitle {
        font-size: 3rem;
        letter-spacing: 0.25rem;
    }

    .heroSubtitle {
        font-size: 1rem;
    }
}